<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<div class="main">
  <div class="container">
      <div class="instrucoes">

          <div class="agrupar-itens">
            <h1 class="titulo">Desenvolver Front-end</h1>
            <h4 class="texto">Teste seu conhecimento em Javascript, faça nosso teste e receba seu feedback  de como você está posicionado no mercado!</h4>
              <mat-list>
                <p> Teste escrito? Aqui não mais! Mostre suas habilidades reais em nossa plataforma! </p>
                <p> Receba feedback de como você está posicionado no mercado e o que precisa para alavancar sua carreira! </p>
                <p> Questões claras e objetivas, do jeito que tem que ser! </p>
                <p> Teste técnico para medir a parte lógica de forma coerente com a vaga! </p>
                <p> Competência técnica medida por quem entende o assunto! </p>
                <p> Júnior, pleno, sênior, uma avaliação específica para cada um dos níveis! </p>
                <p> Direto ao ponto! Um único teste que será usado por diversas empresas com vagas semelhantes! </p>
                <p> Receba um relatório de desempenho do processo seletivo! </p>                
              </mat-list>
          </div> <!--fim do agrupar-itens-->

          <button (click)="info()" mat-raised-button>Quero começar!</button>
        

      </div> <!--fim do instrucoes-->
  </div> <!--fim do container-->
</div> <!--fim do main-->

