<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<div class="main">
  <div class="container">
      <div class="instrucoes">

          <div class="agrupar-itens">
            <h1 class="titulo">Teste seus conhecimentos em JavaScript</h1>
            <h4 class="texto">Regras: </h4>
              <mat-list>
                <p> 1 - Esse desafio é composto por 10 questões de múltipla escolha, com a possibilidade de uma ou mais respostas corretas; </p>
                <p> 2 - Relaxe, você não está participando de um processo seletivo! Nossa intenção é apenas passar um feedback honesto dos seus conhecimentos na área; </p>
                <p> 3 - Tente ser o mais honesto possível com seu conhecimento, não utilize ferramentas de busca como o Google. Queremos lhe avaliar com o intuito de fornecer alguns caminhos para que você possa evoluir na linguagem de interesse; </p>
                <p> 4 - O tempo ideal para realizar a prova é de no máximo 15 minutos; </p>
                <p> 5 - Nos ajude! Essa é apenas uma versão inicial do nosso desafio, queremos aprimorar o teste em conjunto com todas pessoas que estão participando. Para isso, na tela de resultados você terá a opção de nos dar um feedback da sua opinião sobre o nosso teste. Sua opinião é muito valiosa! </p>                
              </mat-list>
          </div> <!--fim do agrupar-itens-->

          <button (click)="info()" mat-raised-button>Quero começar!</button>
        

      </div> <!--fim do instrucoes-->
  </div> <!--fim do container-->
</div> <!--fim do main-->

