<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<div class="main">
  <div class="container">
      <div class="instrucoes">

          <div class="agrupar-itens">
              <mat-list>
                <mat-list-item> Teste escrito? Aqui não mais! Mostre suas habilidades reais em nossa plataforma! </mat-list-item>
                <mat-list-item> Receba feedback de como você está posicionado no mercado e o que precisa para alavancar sua carreira! </mat-list-item>
                <mat-list-item> Questões claras e objetivas, do jeito que tem que ser! </mat-list-item>
                <mat-list-item> Teste técnico para medir a parte lógica de forma coerente com a vaga! </mat-list-item>
                <mat-list-item> Competência técnica medida por quem entende o assunto! </mat-list-item>
                <mat-list-item> Júnior, pleno, sênior, uma avaliação específica para cada um dos níveis! </mat-list-item>
                <mat-list-item> Direto ao ponto! Um único teste que será usado por diversas empresas com vagas semelhantes! </mat-list-item>
                <mat-list-item> Receba um relatório de desempenho do processo seletivo! </mat-list-item>                
              </mat-list>


          </div> <!--fim do agrupar-itens-->
        

      </div> <!--fim do instrucoes-->
  </div> <!--fim do container-->
</div> <!--fim do main-->

