<div class="container-flex">

  <!-- Conteudo textual -->
  <div class="texto">
    <h1 class="titulo">[Lista] Mais de 100 vagas para desenvolvedores front end</h1>
    <h3>Desde startups como a Ifood até grandes empresas como a IBM e Cielo</h3>
    <p class="texto-conteudo">As vagas estão todas centralizadas em uma lista direta e rápida, filtrada por cidade, empresa, sua nota no Love Mondays e experiência necessária para você usar seu tempo procurando impressionar o contratante ao invés de desperdiçá-lo buscando oportunidades de trabalho em diversos sites diferentes.</p>
  </div>
  <!-- Conteudo textual -->

  <mat-card class="form-card">
    <mat-card-header class="form-header">
      <mat-card-title class="form-titulo">Cadastro</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form (ngSubmit)="save()" novalidate [formGroup]="cadastroForm" id="myForm" class="myForm">
        <mat-form-field>
          <mat-icon matPrefix>person</mat-icon>
          <div class="space-placeholder"></div>
          <input formControlName="nome" style="font-size: 1.2em" placeholder="Nome Completo" matInput type="text" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>email</mat-icon>
          <input formControlName="email" style="font-size: 1.2em" placeholder="email" matInput type="email" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>alarm</mat-icon>
          <mat-select formControlName="tempo" placeholder="Tempo como Dev" required>
            <mat-option value="0-3">0-3 anos</mat-option>
            <mat-option value="3-6">3-6 anos</mat-option>
            <mat-option value="6+">6+ anos</mat-option>
          </mat-select>
        </mat-form-field>

      
          <button type="submit" mat-raised-button class="form-button" [disabled]="!cadastroForm.valid">Cadastre-se</button>
     

      </form>

    </mat-card-content>
  </mat-card>
</div>