<div class="container-flex">

  <!-- Conteudo textual -->
  <div class="texto">
    <h1 class="titulo">[Calculadora] Qual é o salário de um desenvolvedor?</h1>
    <h3>Conheça as médias de salário por senioridade e cidade</h3>
    <p class="texto-conteudo">Compilamos em uma planilha as médias de salário de desenvolvedores front-end, back-end, Full-stack e mobile, de acordo com a experiência na área (júnior, pleno e sênior) em 4 cidades (São Paulo, Belo Horizonte, Rio de Janeiro, Florianópolis e outras) para que você possa chegar mais preparado para uma entrevista.</p>
    <p>Preencha o formulário e baixe a calculadora!</p> 
  </div>
  <!-- Conteudo textual -->

  <mat-card class="form-card">
    <mat-card-header class="form-header">
      <mat-card-title class="form-titulo">Cadastro</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form (ngSubmit)="save()" novalidate [formGroup]="cadastroForm" id="myForm" class="myForm">
        <mat-form-field>
          <mat-icon matPrefix>person</mat-icon>
          <div class="space-placeholder"></div>
          <input formControlName="nome" style="font-size: 1.2em" placeholder="Nome Completo" matInput type="text" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>email</mat-icon>
          <input formControlName="email" style="font-size: 1.2em" placeholder="Email" matInput type="email" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>alarm</mat-icon>
          <mat-select formControlName="tempo" placeholder="Tempo como Dev" required>
            <mat-option value="0-3">0-3 anos</mat-option>
            <mat-option value="3-6">3-6 anos</mat-option>
            <mat-option value="6+">6+ anos</mat-option>
          </mat-select>
        </mat-form-field>

      
          <button type="submit" mat-raised-button class="form-button" [disabled]="!cadastroForm.valid">Cadastre-se</button>
     

      </form>

    </mat-card-content>
  </mat-card>
</div>
