
$color-buttons: #333333;
$color-header-form: #333333;
$titulo_texto_color: #00FF0C; 


.container-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 120px;
    color: #fff;
  
}

// texto de divulgacao

.texto {
    width: 380px;

    .titulo {
        font-size: 29px;
        font-weight: bold;
        text-align: justify;
    }

    .texto-conteudo {
        text-align: justify;
    }
}




//   form
.form-card {
    max-width: 250px;
    max-height: 300px;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    top: 15px;
    
  }

input {
    font-size: 9px !important;
}

    

  .form-header {
      background-color:$color-header-form;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      color: #fff;
      text-align: left;
      border-bottom-color: #00FF0C 1px solid;
      

      mat-card-title {
          margin: 0;
      }
      


      .form-titulo {
        font-weight: bold;
        margin: 0;
    }

    .form-titulo_texto {
        font-size: 10px;

    }

    .form-titulo, .form-titulo_texto {
        margin-left: 15px;
    }

    .form-titulo_texto_color {
        color: $titulo_texto_color;
    }
    
      
  }


  

  .myForm {
      text-align: center;
      padding-top: 10px;
  }
  .form-button{
    width: 200px;
    margin-bottom: 15px;
    background: $color-buttons;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
  }


  // responsivo

  @media (max-width: 725px) 
{
    .container-flex {
        flex-direction: column;
        align-items: center;
    }

    

    .texto {
        width: 80%;

        .titulo {
            text-align: left;
        }
    }
}