
$facebook: #3F5C9A;
$google: #d73d32;

::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.myForm {
    text-align: center
}


.google {
    background-color: $google;
    color: #fff;
    font-size: 13px;
    width: 192px;

}

.separator  {
    font-size: 15px;
    font-weight: 600;
    margin: 24px auto;
    position: relative;
    overflow: hidden;
    width: 100px;
    color: rgba(0,0,0,.54);

    .separator_text {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: relative;
        padding: 0 8px;
        z-index: 9999;

        &:after {
            left: 100%;
        }

        &:before {
            right: 100%;
        }
    }

    .separator_text:after, .separator_text:before {
        content: '';
        display: block;
        width: 30px;
        position: absolute;
        top: 10px;
        border-top: 1px solid rgba(0,0,0,.12);

    }

}

