
  <div class="header">
    <div class="header-text"><span>Resultado:</span>Júnior</div>
  </div>

  <div class="container">
    
        <img class="result-image" src="../../assets/images/junior.png" alt="">
        <div class="conteudo">
          <p class="texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea dolore doloremque unde hic quasi similique enim sapiente, amet ratione? Eligendi nobis inventore neque nemo ratione facere reiciendis, quam voluptates corrupti.</p>
          
          <img class="img-ilustrativa" src="../../assets/images/bg-quest.png" alt="imagem ilustrativa">
          <button mat-raised-button>Envie-nos um feedback</button>
          <button mat-raised-button>Basic</button>
        </div>
    
  </div>
