<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <div class="header">
    <div class="header-text"><span class="header-hidden">Resultado:</span> {{conhecimento}}</div>
  </div>

  <div class="container">
    
        <img class="result-image" [src]="imagem" alt="imagem ilustrativa">
        <div class="conteudo">
          <pre style="white-space:pre-wrap;" class="texto">{{texto}}</pre>
          
          <img class="img-ilustrativa" src="../../assets/images/bg-quest.png" alt="imagem ilustrativa">
          <button mat-raised-button>Compartilhar resultado</button>
          <button mat-raised-button>Envie-nos um feedback</button>
        </div>
    
  </div>
