
$background-color: #F8F8F8;
$header-color: #333333;
$header-text-color: #00FF6A;
$font-family: 'Quicksand', sans-serif;

.header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: $header-color;
    font-weight: bolder;
    height: 120px;
    

    .header-text {
        font-family: 'Quicksand';
        margin-left: 17.33%;
        font-size: 28px;
        color: $header-text-color;

    }
}  // header


.container {
    background-color: $background-color !important;
    height: 85vh;
    display: contents;
    margin: 0;

    .conteudo {

        margin-top: 70px;
        margin-right: 80px;
        font-size: 20px;

        .img-ilustrativa {  display: none; }

        & > button {
            font-family: 'Quicksand';
            background: #00FF6A;
            font-weight: bolder;
            width: 290px;
            height: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
        }
    } // conteudo


    .result-image {

        float: left;
        height: 454px;
        width: 40%;
        margin-top: 90px;

    } // conteudo

    .texto {

        font-family: 'Quicksand';
        margin-top: 70px;
        margin-right: 80px;
        font-size: 20px;
    }

   
}

@media only screen and (max-width: 519px) {


    .header {
        height: 40px;
    }

    .header-hidden {
        display: none;
    }

    .conteudo {
        margin:  20px !important;
        text-align: left;

        .texto {
            text-align: left;
        }


        .img-ilustrativa {
            width: 240px;
            // margin-bottom: 30px;
            display: block !important;
            margin: 0 auto;
            
        }

        
    }
    
    .result-image { display: none }

    
    
 }