<div class="main">
  <div class="container">

    <div class="progressbar-section">
      <mat-progress-bar
          class="progressbar"
          color="accent"
          mode="determinate"
          value="50"
          bufferValue="75">
      </mat-progress-bar>
      <span class="progressbar-text">1/10</span>
    </div>


    <div class="questions">
      <img src="../../assets/images/quest/1.PNG" alt="pergunta1">
      <form>        
        <mat-radio-group>          
              <div class="agrupar-quest">
                <div class="alternativa"><span class="letra">A</span></div>
                <mat-radio-button value="1">Option 1</mat-radio-button>        
              </div>
          </mat-radio-group>
      </form>
    </div>

  </div>
</div>
