<div class="main">
  <div class="container">

    <div class="progressbar-section">
      <mat-progress-bar
          class="progressbar"
          color="accent"
          mode="determinate"
          value="50"
          bufferValue="10">
      </mat-progress-bar>
      <span class="progressbar-text">1/10</span>
    </div>


    <div class="questions">
      <img src="../../assets/images/quest/1.PNG" alt="pergunta1">
      <form> 
        
          <mat-selection-list #questions>
              <div class="agrupar-quest">
                  <div class="alternativa"><span class="letra">A</span></div>
                  <mat-list-option class="selecao"
                                   [value]="a">
                    Pergunta  1
                  </mat-list-option>
              </div>
              <div class="agrupar-quest">
                  <div class="alternativa"><span class="letra">A</span></div>
                  <mat-list-option class="selecao"
                                   [value]="a">
                    Pergunta  1
                  </mat-list-option>
              </div>
            </mat-selection-list>

      </form>
    </div>

  </div>
</div>
