
<div class="container-fluid bg">
    <div class="container">

        <div class="progressbar-section">
            <mat-progress-bar
                class="progressbar"
                color="primary"
                mode="determinate"
                value="{{index+1}}0"
                bufferValue="10">
            </mat-progress-bar>
            <span class="progressbar-text">{{index+1}}/10</span>
        </div> <!-- progressbar -->

        <div class="questions">
     
            <form class="questFrom" novalidate [formGroup]="questFrom" (ngSubmit)="nextQuestion($event)"> 
              <!-- <img [src]="img" alt="pergunta1"> -->
            
                    <markdown [src]='md'
                              style="color:#fff;">
                   </markdown>
         

          
              
              
              
                <mat-selection-list #questions formControlName="resposta">
                    <div class="agrupar-quest" *ngFor="let resposta of quests[index].respostas">
                        <div class="alternativa"><span style="font-weight: bold" class="letra">{{resposta.letra}}</span></div>
                        <mat-list-option class="selecao" 
                                         [selected]
                                         [value]="resposta">
                         <span class="text" [outerHTML]="resposta.resp"></span> 
                        </mat-list-option>
                    </div>
                </mat-selection-list>
      
                 <div class="next">
                    <button [disabled]="!questFrom.valid" type="submit" mat-raised-button>Próxima</button>
                  </div>
      
            </form>
          </div>



    </div>
  
</div>
