/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}

body { 
    width: 100%;
    padding: 0; 
    margin: 0;
    height: 100%; 
}



* {     
    text-rendering: optimizeLegibility;     
    -o-text-rendering: optimizeLegibility;    
    -ms-text-rendering: optimizeLegibility;     
    -moz-text-rendering: optimizeLegibility;     
    -webkit-text-rendering: optimizeLegibility;     
    -webkit-tap-highlight-color: transparent;     
    -webkit-box-sizing: border-box;     
    box-sizing: border-box; 
    outline: none  !important;
}


// periodically check this issue to remove these css lines
.mat-list .mat-list-item .mat-list-icon, 
.mat-list .mat-list-option .mat-list-icon, 
.mat-nav-list .mat-list-item .mat-list-icon, 
.mat-nav-list .mat-list-option .mat-list-icon, 
.mat-selection-list .mat-list-item .mat-list-icon, 
.mat-selection-list .mat-list-option .mat-list-icon {
  padding: 0 16px 0 0 !important;
}
.mat-list .mat-list-item .mat-list-text, 
.mat-list .mat-list-option .mat-list-text, 
.mat-nav-list .mat-list-item .mat-list-text, 
.mat-nav-list .mat-list-option .mat-list-text, 
.mat-selection-list .mat-list-item .mat-list-text, 
.mat-selection-list .mat-list-option .mat-list-text {
  padding-right: 0 !important;
}

label {
  margin: 0;
}

.mat-progress-bar .mat-progress-bar-buffer {
  background: #4f4f4f;
  border: 1px solid #fff;
}
.mat-progress-bar-fill::after {
  background-color: #fff !important;
}


mat-list-option[aria-expanded="true"] {
  background-color: red !important;
}

.img-ilustrativa {  display: none; }

@media only screen and (max-width: 519px) {
    .img-ilustrativa {
      width: 240px !important;
      // margin-bottom: 30px;
      display: block !important;
      margin: 0 auto !important;
      
  }
 }

@media only screen and (max-width: 519px) {
  mat-list-option {
    font-weight: 600 !important;
  }
}